.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 4px;
    width: 40px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .des {
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  .review {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e9ecef;
}
.review-text {
  padding-top: 1rem;
}
.review-image {
  display: block;
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 auto .5rem;
  background: #fff;
  border: solid 1px rgba(0,0,0,0.125);
}