

.ics {
    margin-top: 40px;
    margin-right: 20px;
    /* margin-left: -40px; */
    /* font-size: 15px; */

}
.soci {
    font-size: 30px;
    width: 100%;
    /* border: 2px solid grey; */
    /* padding: 10px; */
}
#fto {
    margin-left: 0px;
}